@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  margin: 0;
  color: white;
  font-family: "Roboto", sans-serif;
}

.widget { /* Заполнение всей ширины */
  max-width: 1024px; /* Максимальная ширина для десктопной версии */
  margin: 0 auto; /* Центрирование блока */
  padding: 10px 10px;
  background-color: #468ee5;
}

.date-pick {
  display: flex;
}

.forms {
  display: flex;
}

.form-container {
  position: relative;
  display: inline-block;
}

svg {
  position: absolute;
  top: 50%;
  right: 25px; /* Устанавливает расстояние между правым краем формы и SVG значком */
  transform: translateY(-50%);
  cursor: pointer; /* Добавляем указатель при наведении */
}

p.input-text {
  font-size: 12px;
  padding: 10px 0;
  padding-left: 10px;
  margin: 0;
  width: 300px;
}

.input {
  height: 40px;
  width: 160px;
  margin: 10px;
}

h1 {
  padding: 0;
  margin: 0;
  margin-left: 10px;
}

.block {
  padding: 0 15px;
  font-size: 15px;
  border-radius: 2px;
  border: none;
  border-color: white;
}

.block:focus {
  outline: 2px solid #F7A700;
}

.block::placeholder {
  color: #b2b2b2;
}

.search-btn {
  font-size: 20px;
  padding: 0;
  background-color: #F7A700;
  color: white;
  width: 240px;
  height: 40px;
  margin-left: 25px;
  margin-right: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 2px;
}

.search-btn:hover {
  background-color: #e5a51b;
}

.search-btn:active {
  background-color: #d19514;
}

p.input-text2 {
  display: none;
} 

.pika-single {
  font-family: Arial, sans-serif;
  font-size: 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  margin-top: 4px;
}

.pika-title select,
.pika-prev,
.pika-next {
  background-color: #f0f0f0;
  color: #333;
  font-size: 12px; /* Уменьшаем размер шрифта */
  width: 25px; /* Уменьшаем ширину кнопок */
  height: 25px; /* Уменьшаем высоту кнопок */

}

.pika-title select:hover,
.pika-prev:hover,
.pika-next:hover {
  background-color: #e0e0e0;
}

.pika-select {
  border: 1px solid #ccc;
  background-color: #fff;
}

.pika-table th,
.pika-table td {
  text-align: center;
}

.pika-table th {
  color: #333;
}

.pika-table td.is-disabled,
.pika-table td.is-today {
  color: #999;
}

.pika-button {
  background-color: #468ee5;
  color: #fff;
  border: none;
  border-radius: 3px;

}

.pika-button:hover {
  background-color: #357ebd;
}

/* Пример изменения стилей для конкретного датапикера */
#my-datepicker .pika-single {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: none;
}


/* Медиа-запрос для мобильных устройств */
@media (max-width: 1000px) {
  .widget {
    max-width: 768px;
  }
  .date-pick {
    flex-direction: column;
  }
  .forms {
    width: 100%;
  }
  p.input-text {
    width: 100%;
  }
  .input {
    width: 180px;
  }
  .search-btn {
    width: 270px;
    margin-left: 15px;
    margin-right: 25px;
  }
}

@media (max-width: 700px) {
  .forms {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .input-text {
    margin-right: 20px;
    width: 100%;
  }
  .input {
    width: auto;
  }
  .search-btn {
    width: 100%;
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .topic {
    font-size: 22px;
  }
}

@media (max-width: 300px) {
  .widget {
    padding: 5px 10px;
  }
  .topic {
    font-size: 18px;
  }
  .input {
    width: 150px; 
    margin: 5px 0;
    font-size: 12px;
  } 
  .search-btn { 
    margin: 5px 0;
  } 
  h1.topic { 
    margin: 0;
    font-size: 15px; 
  } 
  p.input-text {
    display: none; 
  }
  p.input-text2 {
    display: block;
    font-size: 10px;
    margin: 5px 0;
  } 
  .search-btn {
    font-size: 15px;
  }
  svg {
    right: 15px;
  }
}